#header{
    display: flex;
  }
  
  #lewa1{
  background-color: rgb(21, 221, 31);
  height: 50px;
  width: 70%;
  }
  #prawa1{
    background-color: rgb(223, 93, 93);
    height: 50px;
    width: 30%;
    }
  
  #main{
    display: flex;
  }
  
  #nwm {
    background-color: rgb(106, 223, 223);
    width: 40%;
  }

  #lewa2 {
    background-color: rgb(20, 20, 138);
    height: 300px;
    }

  #srodek {
    background-color: rgb(226, 100, 226);
    height: 500px;
    }

  #prawa2 {
    background-color: rgb(236, 176, 186);
    height: 800px;
    width: 60%;
    }

    #footer { 
    background-color: rgb(46, 126, 230);
    height: 100px;
    width: 100%;
    }